/* reset.css */

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

html,
body {
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  /*line-height: 1.5;*/
  background-color: #efefef;
  color: #333;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}

/*img, picture, video, canvas, svg {*/
/*    display: block;*/
/*    max-width: 100%;*/
/*}*/

/*input, button, textarea, select {*/
/*    font: inherit;*/
/*    outline: none;*/
/*    border: none;*/
/*    background: none;*/
/*}*/

/*button {*/
/*    cursor: pointer;*/
/*}*/

/*ul, ol {*/
/*    list-style: none;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*}*/

/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*}*/

/*!* 去掉number类型input右边的增减按钮，Chrome / Safari / Edge (Blink/WebKit) *!*/
/*input::-webkit-inner-spin-button,*/
/*input::-webkit-outer-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/

/*!* 去掉number类型input右边的增减按钮，Firefox *!*/
/*input[type='number'] {*/
/*    -moz-appearance: textfield;*/
/*}*/
